<section id="sectionAbout">
	<div class="container">
		<div class="row">
      <div class="mypicture col-md-3" style=" width: 50%; height: 50%;" >
      <img src="assets/images/mypicture.png" alt="">
      </div>
      <div class="col-md-6 col-xs-12">
        <h1>Pranjal Jain</h1>
        <h3>Experienced Full-Stack Developer | Microservices</h3>
      </div>
			<div class="col-md-3 col-xs-12">
      </div>
		</div>

    <br>

		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 story">
				<h2>Hello!</h2>
				<p>My name is Pranjal Jain. I am a  results-oriented, customer-centric 
        technology engineer specializing in the architecture, design and 
        development of microservices, high availability infrastructure design, 
        configuration and deployment on the cloud. 
        Currently, I am a Senior Software Enginner in Liberty Mutual
        Insurance, where I design and deploy scalable microservices and 
        infrastructure to transform customer’s web experience based on 
        customer-focused research and forward thinking web architecture. 

        <p> Over the last 9 years, I have worked on different phases of software
        development such as requirement analysis, designing, programming and
        unit testing. I am an expert in architecting high-volume, real-time data
        integration systems and APIs. I  am also experienced in implementing 
        database designs for handling extreme volatility utilizing a variety of 
        RDBMS and NoSQL technologies.   I am well versed in numerous security
        best practices, processes, frameworks, and regulations. I also
        have in-depth understanding of product line/process engineering, and
        Agile methodologies such as SCRUM and Kanban.
        </p>
					
        <p>  
          I have strong analytical and problem-solving skills with a capability 
          to work individually and in the team.  I emphasize on broadening my 
          knowledge by continuously learning new technologies and challenging 
          myself by accepting work beyond my comfort zone.

				</p>

			</div>

			<div class="col-md-6 col-sm-12 col-xs-12 skills">

				<div id="bookListWrapper">

				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Skills"
							   ng-model="searchStr"/>
						<h5>* Please enter your desired skill set</h5>
					</div>
				</form>
				<ul class="list-unstyled">
					<li class="book" ng-repeat="book in books | filter:searchStr"
						style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
						<div class="book-details clearfix">
							<h3>{{book.name}}</h3>

							<p>{{book.content}}</p>

						</div>
					</li>
				</ul>
				</div>



			</div>
		</div>
	</div>

</section>
