<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Academics</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-4 col-sm-4 col-xs-12 resume-left">
                <h3>Northeastern University, Boston, MA, USA</h3>
                <p>August 2015 - June 2017</p>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Master's in Information Systems</h3>
               <h4>GPA : 3.94/4 </h4>
                <h4>Awards</h4>
                <p><b> Academic Award for excellence</b> from Northeastern University. Highest GPA in entire class of 500 students</p>
                <p><b>Relevant Coursework</b>: Engineering Big Data Systems, Advance Data Sciences & Architecture , Program Structure and Algorithms,
                Advances in Big Data Design and Engineering, Web Design, Web Tools and Development</p>
            </div>

        </div>
        <div class="resume-line row">

            <div class="col-md-4 col-sm-4 col-xs-12 resume-left">
                <h3>Jai Narain Vyas University, India </h3>
                <p>August 2006 - Jun 2010</p>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 resume-right">
                <h3>Bachelor of Engineering in Information Technology</h3>
                <h4>GPA : 3.8/4 </h4>


            </div>

        </div>




    </div>


</section>
