<section id="sectionPortfolio">

    <div class="container">

        <div class="sectionTitle">
            <h1>My Connections</h1>
        </div>

        <div class="clients row">
            <div class="col-md-4 col-sm-12 col-xs-12 clients-box-top">
                <div class="clients-bg"></div>
                <a href="https://github.com/jainpranj" class="none" target="_blank">
                    <i class="ion-social-github font-size-increase"></i>
                </a>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 clients-box-top">
                <div class="clients-bg"></div>
                <a href="https://www.facebook.com/pranjal.jain.92" class="none" target="_blank">
                    <i class="ion-social-facebook font-size-increase"></i>
                </a>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 clients-box-top last-client">
                <div class="clients-bg"></div>
                <a href="https://www.linkedin.com/in/jainpranj/" class="none" target="_blank">
                    <i class="ion-social-linkedin-outline font-size-increase"></i>
                </a>
            </div>

        </div>

        <div class="clients row">
            <div class="col-md-4 col-sm-12 col-xs-12 ">

            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 ">
                <h2>Pranjal Jain</h2>
                <h4>23 Saint Germain Street</h4>
                <h4>503-724-3015</h4>
                <h4>jainpranj@gmail.com</h4>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 ">

            </div>

        </div>


    </div>

</section>