<section id="sectionPortfolio">

    <div class="container">

        <div class="sectionTitle">
            <h1>My Past experience</h1>
            <span>Resume</span>
        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3> Development Heroes</h3>
                <p>May 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Senior Developer Co-op</h3>
                <p>Implemented and deployed Adobe Experience Manager sites on AWS, which reduced deployment turnarounds and increased team efficiency by 30%</p>
                <p>Worked on Oak Queries and indexing which increased search capabilities by 80%, and extended connector to integrate Adobe Experience Manager with Salesforce and other external applications.</p>
               <p>Created a scalable service to migrate legacy website (more than 10,000 pages) to Adobe Experience Manager pages and added configuration using Omniture and Google analytics to capture analytics</p>


            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Accenture Services Pvt. Ltd.</h3>
                <p>Jun 2014 - Aug 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Senior Technology Analyst</h3>
                <p>Developed a global multi-channel experience and robust platform for a medical products giant (10+ websites).</p>
                <p>Received Accenture Celebrates Excellence (ACE) award from the business unit for improving customer experience
                    and fast turnaround.</p>

            </div>

        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Infosys Technologies Pvt. Ltd.</h3>
                <p>Aug 2010 - Jun 2014</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Senior Software Engineer</h3>
                <p>Developed a responsive digital platform to support the requirements of major telecom operator used to create consistent multi-country and multilingual websites.</p>
                <p>Received Bravo Award for implementing early smart phone upgrade plan. This helped client to retain 98% of the existing customers and attracted 20 % customers from competitors.</p>
            </div>
        </div>

    </div>

</section>
