<section id="sectionPortfolio">
    <div class="container">

        <div class="sectionTitle">
            <h1>My Projects</h1>
        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Github- as Social Network </h3>
                <p>Jan 2017 - April 2017</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right first-right">
                <h3>Northeastern University</h3>
                <p>Used Hadoop Map reduce design patterns on github dataset</p>
                <p>Extracted data using Google BigQuery, Recommend followers and show common followers using friends of friends and common friends map reduce respectively</p>
                <p>Used Neo4j for defining relationships between various github events and packages in python </p>
                <p><button class="button button2 " onclick=" window.open('https://datastudio.google.com/open/0B_0V8O6IneDTMHN1Q1poQUREdmc','_blank')">Analysis</button>

               <button class="button button2 " onclick=" window.open('https://github.com/jainpranj/github-data-analysis','_blank')">Github Link</button>
                </p>
            </div>

        </div>
        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Bitcoin Transaction Network Analysis</h3>
                <p>Jan 2017 - April 2017</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Applying machine learning models to predict the price of bitcoin and analyze the transaction network</p>
                <p>Apply machine-learning algorithms to predict rise and fall in price and further predict the price of bitcoin</p>
                <p>Discover interesting patterns in bitcoin network using NetworkX</p>
                <p>Finding anamolies in using clustering techniques in bitcoin network.</p>
                <p><button class="button button2 " onclick=" window.open('nameless-stream-51270.herokuapp.com','_blank')">Website Link</button>

                    <button class="button button2 " onclick=" window.open('https://github.com/nehalbhanushali/Bitcoin_Transaction_Network_Analysis','_blank')">Github Link</button>
                </p>
            </div>

            <div class="resume-line row">

                <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                    <h3>Machine learning on Lending Club Dataset</h3>
                    <p>Jan 2017 - April 2017</p>
                </div>

                <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                    <h3>Northeastern University</h3>
                    <p>Applying machine learning classiifcation models to predict the whether to provide loan to user or not</p>
                    <p>Apply clustering and linear regression to predict rate of interest for loan for the user</p>
                    <p>Deploy models using Azure Machine learning in flask application</p>
                    <p>Run compelete pipline using luigi and dockerized the same, result uploaded to AWS S3</p>

                    <p><button class="button button2 " onclick=" window.open('http://blueberry-crumble-39006.herokuapp.com/','_blank')">Website Link</button>

                        <button class="button button2 " onclick=" window.open('https://github.com/jainpranj/lending-club-data-analysis','_blank')">Github Link</button>
                    </p>
                </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Machine Learning on Freddie Mac loan data set</h3>
                <p>Mar 2017 – Mar 2017</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Performed Exploratory Data analysis on loan dataset using Python and Tableau</p>
                <p>Programmatically downloaded data from HUD website without human intervention.</p>
                <p>Applied Classification algorithms on 2005 dataset to predict a number of delinquent loans in other years.</p>
                <p>The whole project can be run as a docker image via the image on docker hub or can be recreated using docker file</p>
                <p>

                    <button class="button button2 " onclick=" window.open('https://github.com/vasantivmahajan/MachineLearning_US_Housing_Urban_Development_CaseStudy','_blank')">Github Link</button>
                </p>
            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Data Wrangling on Edgar Dataset</h3>
                <p>Mar 2017 – Mar 2017</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Programatically download data from Edgar dataset website. Data Cleaning and Wrangling on each web page to store as csv files </p>
                <p>Exploratory Data Analysis And Anamomy Detection using Tableau</p>
                <p>Dockerizing the complete application</p>
                <p>Using luigi to pipeline the project</p>
                <p>
                    <button class="button button2 " onclick=" window.open('https://docs.google.com/document/d/1vd1ub-159eSMiEPYou_4hHgQk7J9BYkqPLrwwtM3Uwg/edit?usp=sharing','_blank')">Analysis</button>
                    <button class="button button2 " onclick=" window.open('https://github.com/nehalbhanushali/Data_Wrangling_Edgar_Datasets','_blank')">Github Link</button>
                </p>
            </div>

        </div>

        <div class="resume-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Husky Coder- online coding platform</h3>
                <p>Jan 2016 - April 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed rich and responsive online coding platform to dynamically compile and run coding challenges.
                </p>
                <p> Used Spring security for authentication and authorization, REST services for challenges, Hibernate for persistence
                    with spring MVC architecture.
                </p>
            </div>
        </div>


        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>Highly scalable and available Healthcare application</h3>
                <p>Sept 2016 - Dec 2016</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developing a schema less distributed big data platform with data extensibility using JSON schema, Spring Boot, Rest API and OAuth for authentication and SSO.</p>
                <p>Implemented Redis as a caching store and message broker to support publisher-subscriber pattern.</p>
                <p> Also, included Elastic Search for search and retrieval capabilities and Zuul for API Gateway pattern

                </p>
            </div>
        </div>



        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>E-commerce Portal for Paintings</h3>
                <p>Sept 2015 - Dec 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p>Developed rich and responsive e-commerce portal for selling paintings with enhanced user experience.</p>
                <p>Users can store paintings as favorites, buy paintings, search painters.</p>
               <p> Used latest web technologies - Bootstrap, HTML5 (Drag and drop, slider, video ,local storage), CSS3, jQuery, Javascript, AngularJS (for registration and login), AJAX (used flickr and zipatasticapi
                   )</p>

                </p>
            </div>
        </div>



        <div class="resume-line last-line row">

            <div class="col-md-3 col-sm-4 col-xs-12 resume-left">
                <h3>IOT enabled Total Health care system</h3>
                <p>Sept 2015 - Dec 2015</p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12 resume-right">
                <h3>Northeastern University</h3>
                <p> Developed a health care information system which breaks down the boundaries between doctor, nurses, pharmacies and insurance.</p>
                <p>  It provides the RIGHT information to insurers, doctors, and caregivers.</p>
                <p> They can also reference patient information such as imaging, X­ray, ​and reports​in real time.</p>
                <p> Apart from enhanced personalized care the important feature of T​otalCare is to monitor public health, identify outbreaks, and detect most infectious virus mutations​. </p>
                <p>  It also identifies disease patterns,​with a complete analysis of factors causing them. </p>
                <p> Healthcare persons can track and forecast events, educate people, mobilize resources and most importantly take preventative measures. </p>
                <p> Developed a unique disease dictionary which provides disease information, medications, ​and symptoms. (Integration with google medical API)</p>
            </div>
        </div>

    </div>


</section>
